.about-product {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 90px;
    background: #f4f5f8;
    border-radius: 30px;
  }

  &__left {
    max-width: 820px;
    width: 60%;
  }

  &__right {
    max-width: 460px;
    width: 40%;
  }
}
