.about-container {
  $root: &;

  &__box {
    &.active #{$root}__content {
      height: auto;
      overflow: auto;
    }

    &.active #{$root}__content::after {
      display: none;
    }

    &.active #{$root}__button--show {
      display: none;
    }

    &.active #{$root}__button--hide {
      display: block;
    }
  }

  &__content {
    position: relative;
    height: 257px;
    overflow: hidden;

    &::after {
      display: block;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 38px;
      content: "";
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(244, 245, 248, 0) 0%,
        #f4f5f8 100%
      );
    }
  }

  &__button {
    margin-top: 15px;
  }

  &__button--hide {
    display: none;
  }
}
