.about {
  &__title {
    font-size: 32px;
    line-height: 37px;
    color: var(--color-dark-blue-text);
    margin-bottom: 32px;
  }

  &__menu {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--color-grey-border);
    padding-bottom: 16px;
  }

  &__item {
    $root: &;
    position: relative;
    padding: 0 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey-text);
    cursor: pointer;
    transition: all 0.33s linear;
    -webkit-transition: all 0.33s linear;

    &::after {
      position: absolute;
      content: "";
      top: calc(100% + 16px);
      left: 0;
      z-index: 1;
      width: 0;
      height: 2px;
      background: var(--color-orange);
      transition: width 0.3s;
    }

    &:hover::after,
    &:active::after {
      width: 100%;
    }

    &:hover {
      color: var(--color-dark-blue-text);
    }

    &:active {
      color: var(--color-dark-blue-text);
      pointer-events: none;
    }
  }
}
