.about {
  &__title {
    font-size: 32px;
    line-height: 37px;
    color: var(--color-dark-blue-text);
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 550px) {
  .about {
    &__title {
      font-size: 27px;
      margin-bottom: 25px;
    }
  }
}
