.about-content {
  div {
    font-size: 14px;
    line-height: 140%;
    color: var(--color-dark-blue-text);
    margin-bottom: 20px;
  }

  h3 {
    font-size: 14px;
    line-height: 140%;
    color: var(--color-dark-blue-text);
    font-weight: bold;
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 20px;
    margin-left: 10px;
  }
}
