.tabs {
  &__buttons {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--color-grey-border);
    padding-bottom: 16px;
  }

  &__button {
    $root: &;
    position: relative;
    padding: 0 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey-text);
    cursor: pointer;
    transition: all 0.33s linear;
    -webkit-transition: all 0.33s linear;

    &::after {
      position: absolute;
      content: "";
      top: calc(100% + 16px);
      left: 0;
      z-index: 1;
      width: 0;
      height: 2px;
      background: var(--color-orange);
      transition: width 0.3s;
    }

    &:hover::after,
    &.is-active::after {
      width: 100%;
    }

    &:hover,
    &.is-active {
      color: var(--color-dark-blue-text);
    }
  }

  &__content {
    display: none;
    font-size: 14px;
    line-height: 140%;
    color: #202454;
  }

  &__content.is-active {
    display: block;
  }

  &__content-overflow {
    margin-top: 39px;
  }
}
