@at-root /*Phone*/
.phone {
  $root: &;
  position: relative;
  display: flex;

  &.active #{$root}_popup {
    display: flex;
  }

  &:hover #{$root}__popup {
    display: flex;
  }

  &__show-popup {
    display: flex;
    position: relative;
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey-text);
  }

  &__item {
    margin-bottom: 5px;
  }

  &__link {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey-text);
    font-weight: bold;
    margin-left: 9px;
    margin-right: 5px;
    padding-bottom: 5px;

    svg {
      stroke: var(--color-grey-text);
      margin-left: 4px;
      stroke-width: 2px;
    }

    &:hover {
      color: var(--color-dark-blue-text);
      transition: color 0.3s;

      svg {
        stroke: var(--color-dark-blue-text);
      }
    }
  }

  &__popup {
    padding: 5px 0;
    display: none;
    transition: transform 0.3s;
    position: absolute;
    z-index: 2000;
    top: 18px;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--color-white);
    border-end-end-radius: 1px solid var(--color-grey-border);
    flex-direction: column;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 4px 12px rgba(18, 33, 63, 0.05);
  }
}
