.blog-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -48px;
  margin-top: 48px;

  &__item {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 30px;
    padding-bottom: 48px;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &__top {
    margin-bottom: 16px;
    position: relative;
    max-width: 395px;
  }

  &__bottom {
    display: flex;
  }

  &__stickers {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  &__date {
    font-size: 13px;
    line-height: 15px;
    color: var(--color-grey-text);
    margin-right: 43px;
    display: flex;
    flex-direction: column;

    span {
      font-weight: bold;
      font-size: 32px;
      line-height: 37px;
    }
  }

  &__link {
    color: var(--color-dark-blue-text);
    font-size: 20px;
    line-height: 23px;

    &:hover {
      color: var(--color-grey-text);
    }
  }

  &__img-link {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
    }

    &:hover img {
      opacity: 1;
      -webkit-animation: flash 1.5s;
      animation: flash 1.5s;
    }
  }

  @-webkit-keyframes flash {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes flash {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1300px) {
  .blog-gallery {
    &__date {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 550px) {
  .blog-gallery {
    &__item {
      width: 100%;
    }
  }
}

@media screen and (max-width: 414px) {
  .blog-gallery {
    &__date {
      margin-right: 10px;

      span {
        font-size: 28px;
      }
    }

    &__link {
      font-size: 16px;
    }
  }
}
