/*Best Deals*/
@at-root .best-deals {
  &__menu {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -10px;
    align-items: center;
  }

  &__title {
    display: flex;
    flex-shrink: 0;
    font-size: 32px;
    line-height: 37px;
    font-weight: 400;
    color: var(--color-dark-blue-text);
    padding-right: 24px;
    padding-bottom: 10px;
  }

  &__nav {
    padding-right: 24px;
    padding-bottom: 10px;
  }

  &__buttons {
    display: flex;
    align-items: flex-end;
  }

  &__slider {
    position: relative;
  }

  &__list {
    display: flex;
    margin-right: -24px;
  }
  &__item {
    padding-right: 24px;
  }

  &__link {
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 0 4px 0;
    color: var(--color-grey-text);
    border-bottom: 1px dashed #7b94b0;

    &:hover {
      color: var(--color-dark-blue-text);
    }

    &:active {
      border-radius: 15px;
      color: var(--color-orange);
      border-bottom: none;
      background: rgb(231, 126, 66, 0.1);
      padding: 8px 12px 8px 11px;
    }

    &.active {
      border-radius: 15px;
      color: var(--color-orange);
      border-bottom: none;
      background: rgb(231, 126, 66, 0.1);
      padding: 8px 12px 8px 11px;
    }
  }
}

@media screen and (max-width: 500px) {
  .best-deals {
    &__title {
      flex-shrink: 1;
      font-size: 28px;
    }

    &__buttons {
      display: none;
    }
  }
}

@media screen and (max-width: 414px) {
  .best-deals {
    &__menu {
      margin-bottom: 20px;
    }

    &__list {
      flex-direction: column;
    }
    &__link {
      border-bottom: none;
      margin-bottom: 3px;

      &.active {
        border-radius: 0;
        padding: 3px;
      }

      &:active {
        border-radius: 0;
        padding: 4px;
      }
    }
  }
}
