.breadcrumbs {
  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    font-size: 12px;
    line-height: 14px;
    color: var(--color-grey-text);
    margin-right: 8px;
    display: flex;
    align-items: center;

    &:hover {
      color: var(--color-logo);
      transition: color 0.3s;
    }
  }

  &__icon {
    margin-left: 8px;
  }
}

@media screen and (max-width: 414px) {
  .breadcrumbs {
    &__link {
      font-size: 10px;
    }
  }
}
