.product-rating {
  display: flex;

  &__left {
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  &__right {
    width: 60%;
  }

  &__list {
    margin-bottom: -24px;
  }

  &__item {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-dark-blue-text);
    margin-bottom: 20px;
  }

  &__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-dark-blue-text);
    margin-left: 4px;
  }

  &__value {
    display: flex;
    align-items: center;
    margin-right: 12px;
  }

  &__progress {
    max-width: 192px;
    height: 12px;
    width: 100%;
    background: #f4f5f8;
    border-radius: 3px;
    position: relative;
    overflow: hidden;

    span {
      display: block;
      background-color: var(--color-orange);
      overflow: hidden;
      height: 100%;
      position: relative;
    }
  }

  &__info {
    margin-top: 15px;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-dark-blue-text);

    text-align: center;
    max-width: 144px;
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .product-rating {
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 16px;
    }
  }
}
