.blog-section {
  &__content {
    display: flex;
  }

  &__left {
    width: 42%;
    margin-right: 10px;
  }

  &__right {
    width: 58%;
  }
}

@media screen and (max-width: 1300px) {
  .blog-section {
    &__content {
      flex-direction: column-reverse;
    }

    &__left {
      margin-top: 50px;
      margin-right: 0;
      width: 100%;
    }

    &__right {
      width: 100%;
    }
  }
}
