/*Blog*/
@at-root .blog {
  &__title {
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 44px;
    line-height: 52px;
    color: var(--color-dark-blue-text);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: -15px;
  }

  &__nav {
    padding-bottom: 15px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
  }

  &__link-button {
    padding-bottom: 15px;
  }

  &__list {
    display: flex;
  }
  &__item {
    margin-right: 20px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey-text);

    &:hover,
    &:focus,
    &:active {
      color: var(--color-dark-blue-text);
    }

    &.active {
      color: var(--color-dark-blue-text);
    }
  }
}

@media screen and (max-width: 550px) {
  .blog {
    &__title {
      font-size: 38px;
    }

    &__container {
      align-items: flex-end;
    }

    &__list {
      flex-direction: column;
    }

    &__item {
      margin-bottom: 10px;
    }
    &__link {
      font-size: 16px;
    }
  }
}
