.catalog-page {
  &__breadcrumbs {
    margin-top: 16px;
    margin-bottom: 40px;
  }

  &__container {
    margin-bottom: 120px;
  }

  &__benefits {
    margin-bottom: 80px;
  }

  &__seo {
    margin-bottom: 110px;
  }
}
