/*Seo*/
.seo-section {
  $root: &;

  &__box {
    &.active #{$root}__content {
      height: auto;
      overflow: auto;
      margin-bottom: 15px;
    }

    &.active #{$root}__content::after {
      display: none;
    }

    &.active #{$root}__button--show {
      display: none;
    }

    &.active #{$root}__button--hide {
      display: block;
    }
  }

  &__button {
    color: var(--color-orange);
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    border: none;
    background: transparent;
    padding: 0 0 3px 0;
    border-bottom: 1px dashed var(--color-orange);

    &:hover,
    &:focus,
    &:active {
      color: var(--color-green);
      transition: all 0.3s;
      border-bottom: 1px dashed var(--color-green);
    }
  }

  &__button--hide {
    display: none;
  }

  &__content {
    margin-bottom: 6px;
    position: relative;
    height: 230px;
    overflow: hidden;

    &::after {
      display: block;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 36px;
      content: "";
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 100%
      );
    }
  }
}

@media screen and (max-width: 414px) {
  .seo-section {
    &__content {
      height: 410px;
    }
  }
}
