.seo {
  h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: var(--color-dark-blue-text);
    margin-bottom: 25px;
    letter-spacing: -0.8px;
  }

  p {
    font-size: 13px;
    line-height: 160%;
    color: var(--color-grey-text);
    word-spacing: 1px;
  }

  h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-dark-blue-text);
    margin-bottom: 20px;
    margin-top: 34px;
    letter-spacing: -0.4px;
  }
}

@media screen and (max-width: 414px) {
  .seo {
    h2 {
      font-size: 35px;
    }

    h3 {
      font-size: 22px;
    }
  }
}
