.top-footer {
  padding-top: 50px;

  &__background {
    background: var(--color-opacity-green);
    padding-top: 32px;
    display: flex;
    align-items: center;
  }

  &__container {
    display: flex;
    margin-bottom: -33px;
  }

  &__image {
    margin-top: -115px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
    margin-bottom: 30px;
  }

  &__text {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-dark-blue-text);
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 1125px) {
  .top-footer {
    padding-top: 0;

    &__container {
      flex-direction: column-reverse;
      margin-bottom: 0;
    }

    &__box {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &__image {
      margin: 0 auto;
      margin-top: 0;
      margin-bottom: -4px;
    }
  }
}

@media screen and (max-width: 678px) {
  .top-footer {
    &__background {
      padding-bottom: 32px;
    }

    &__image {
      display: none;
    }

    &__text {
      font-size: 16px;
    }
  }
}
