.nav {
  $root: &;
  width: 50%;
  display: flex;
  align-items: flex-end;
  padding-top: 9px;
  flex-direction: column;

  &__item {
    display: flex;
    width: 100%;
    padding: 20px 22px 10px 23px;
    margin-top: 3px;
    margin-bottom: 3px;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background-color: var(--color-white);
      transition: background-color 0.3s;
    }

    &:hover .sub-menu-container {
      transform: scaleX(1);
    }
  }

  &__item:hover &__icon {
    color: var(--color-logo);
    transition: color 0.3s;
  }

  &__item:hover #{$root}__arrow {
    svg {
      stroke: var(--color-logo);
      transition: stroke 0.3s;
    }
  }

  &__item:hover &__link {
    color: var(--color-logo);
    transition: color 0.3s;
  }

  &__item--active &__icon {
    color: var(--color-logo);
    transition: color 0.3s;
  }

  &__item--active #{$root}__arrow {
    svg {
      stroke: var(--link-bg);
    }
  }

  &__item--active {
    background-color: var(--color-white);
    transition: background-color 0.3s;
  }

  &__item--active &__link {
    color: var(--color-logo);
    transition: color 0.3s;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 17px;
    color: var(--color-dark-blue-text);

    &--size-dog {
      width: 25px;
      height: 27px;
    }

    &--size-cat {
      width: 25px;
      height: 25px;
    }

    &--size-birds {
      width: 32px;
      height: 32px;
    }

    &--size-star {
      width: 24px;
      height: 22px;
    }

    &--size-procent {
      width: 20px;
      height: 22px;
    }

    &--size-rodents {
      width: 21px;
      height: 27px;
    }
  }

  &__link {
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--color-dark-blue-text);
  }

  &__arrow {
    svg {
      stroke: var(--link-bg);
      stroke-width: 2px;
      transform: rotate(-90deg);
    }
  }
}
