.bottom-header {
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 96px;
    margin-top: 5px;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__buttons {
    margin-left: 39px;
  }
}

@media screen and (max-width: 1300px) {
  .bottom-header {
    &__left {
      flex-direction: row-reverse;
    }

    &__buttons {
      margin-left: 0;
    }
  }
}
