.header {
  background: var(--color-white);
  box-shadow: 0px 4px 12px rgba(18, 33, 63, 0.05);
  width: 100%;

  &__top,
  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__top {
    margin-bottom: 13px;
  }
}

.nav_is_visible {
  overflow-y: hidden;
  overflow-x: hidden;
}

.top-header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__city {
    margin-right: 76px;
  }
}

.top-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__phone {
    margin-right: 45px;
  }
}

.bottom-header-left {
  display: flex;
  align-items: center;

  &__logo {
    margin-right: 96px;
    margin-top: 5px;
  }
}

.bottom-header-right {
  display: flex;
  align-items: center;

  &__buttons {
    margin-left: 39px;
  }
}

body.nav_is_visible {
  transform: translateX(60%);
  transition: transform 0.3s ease-in-out;
}

body.nav_is_visible .mm-menu {
  transform: translateX(-100%);
}

body.nav_is_visible .nav-toggle {
  position: absolute;
  top: 10px;
  left: -60px;
  z-index: 3000;
}
body.nav_is_visible .ham1 .top {
  stroke-dashoffset: -98px;
}

body.nav_is_visible .line {
  stroke: var(--color-white);
  transition: all 0.3s;
}

body.nav_is_visible .ham1 .bottom {
  stroke-dashoffset: -138px;
}

body.nav_is_visible .modal-background {
  display: block;
}

body.nav_is_visible .hamRotate {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
body.nav_is_visible .hamRotate180 {
  transform: rotate(180deg);
}

@media screen and (max-width: 1300px) {
  .bottom-header-left {
    flex-direction: row-reverse;
  }

  .header {
    &__top {
      display: none;
    }
  }

  .bottom-header-right {
    &__buttons {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 414px) {
  body.nav_is_visible {
    transform: translateX(80%);
  }
}
