/*Header button*/
.header-buttons {
  display: flex;
  align-items: center;

  &__item:nth-of-type(1) {
    margin-right: 21px;
  }

  &__item:nth-of-type(2) {
    margin-right: 9px;
  }

  &__item:nth-of-type(3) {
    margin-right: 13px;
  }
}

@at-root .header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: var(--color-dark-blue-text);
  stroke-width: 2;
}

.header-button:hover {
  stroke: var(--color-grey-text);
}

.basket {
  border: none;
  background: transparent;
  position: relative;

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    --size-number: 20px;
    width: var(--size-number);
    height: var(--size-number);
    position: absolute;
    top: -10%;
    right: -10%;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-white-text);
    background: var(--color-orange);
    border-radius: 50px;
  }
}
