/*Form search*/
.form {
  &__popup {
    display: none;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1880px;
    min-height: 256px;
    background: var(--color-white);
    position: fixed;
    top: 112px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3000;
    overflow-y: hidden;
  }

  &__search {
    background: var(--color-white);
    width: 75%;
    height: 80px;
    border-bottom: 1px solid var(--color-grey-border);
    margin-top: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 17px 0;
  }

  &__field {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__input {
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #7b94b0;
    opacity: 0.5;
    outline: none;
    cursor: pointer;
    width: 100%;
    border: none;
    height: 100%;
  }

  &__search:hover,
  &__search:focus,
  &__search:active {
    border-bottom: 1px solid var(--color-dark-blue-text);
  }

  &__text {
    margin-top: 40px;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey-text);
    width: 24%;
    text-align: center;
  }
}

.button-close {
  --toggle-close-size: 31px;
  width: var(--toggle-close-size);
  height: var(--toggle-close-size);
  border: none;
  background: var(--color-white);
  position: relative;
}

.button-close::before,
.button-close::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  right: 50%;
  top: 50%;
  background: var(--color-grey-text);
}

.button-close:hover::before,
.button-close:hover::after {
  background: var(--color-dark-blue-text);
  transition: background 0.3s;
}

.button-close::before {
  transform: translate(50%) rotate(45deg);
}

.button-close::after {
  transform: translate(50%) rotate(-45deg);
}

.search-button {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 12px;
    stroke: var(--color-dark-blue-text);
    stroke-width: 2;

    &:hover {
      stroke: var(--color-grey-text);
      transition: stroke 0.3s;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-dark-blue-text);

    &:hover {
      color: var(--color-grey-text);
      transition: color 0.3s;
    }
  }
}

.form.active .form__popup {
  display: flex;
}

.form.active .modal-background {
  display: block;
}

@media screen and (max-width: 1300px) {
  .form {
    &__popup {
      top: 73px;
    }
  }

  .search-button__text {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .form {
    &__search {
      margin-top: 10px;
    }

    &__input {
      font-size: 36px;
    }

    &__text {
      width: 50%;
    }
  }
}

@media screen and (max-width: 414px) {
  .form {
    &__search {
      padding: 8px 0;
      height: 60px;
    }
    &__input {
      font-size: 25px;
    }

    &__text {
      width: 70%;
      font-size: 12px;
    }
  }
}
