.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  &__image {
    background: var(--color-white);
    border: 1px solid var(--color-grey-border);
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 30px;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      max-width: 200px;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }

    &:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-dark-blue-text);
    min-height: 48px;
    margin-bottom: 27px;

    &:hover {
      color: var(--color-grey-text);
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 14px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  &__button {
    margin-left: 8px;
  }

  &__price-profitable {
    color: var(--color-grey-text);
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    margin-left: 4px;
    display: flex;
    flex-shrink: 0;
  }

  &__price-old {
    text-decoration: line-through;
    font-size: 13px;
    line-height: 140%;
    color: var(--color-grey-text);
    margin-right: 4px;
    display: flex;
    flex-shrink: 0;
    min-height: 18px;
  }

  &__price-new {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-dark-blue-text);
    display: flex;
    flex-shrink: 0;
  }

  &__stickers {
    position: absolute;
    top: 16px;
    left: 16px;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    &__price-new {
      font-size: 19px;
    }
  }
}

@media screen and (max-width: 790px) {
  .card {
    &__image {
      border: none;
    }

    &__text {
      margin-bottom: 8px;
      min-height: 65px;
    }
  }
}

@media screen and (max-width: 520px) {
  .card {
    &__bottom {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 414px) {
  .card {
    &__text {
      min-height: 84px;
    }

    &__price-new {
      font-size: 17px;
    }
  }
}
