.catalog-product {
  &__breadcrumbs {
    margin: 16px 0 40px 0;
  }

  &__product {
    margin-bottom: 80px;
  }

  &__about-product {
    margin-bottom: 85px;
  }

  &__feedback {
    margin-bottom: 97px;
  }

  &__cards {
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .catalog-product {
    &__feedback {
      margin-bottom: 30px;
    }

    &__cards {
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 414px) {
  .catalog-product {
    &__breadcrumbs {
      margin: 16px 0 20px 0;
    }

    &__feedback {
      margin-bottom: 30px;
    }
  }
}
