.product-recommendations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-grey-border);
  padding: 20px 22px 8px 20px;
  border-radius: 12px;

  &__image {
    width: 100%;
    margin-bottom: 16px;

    img {
      width: 100%;
    }
  }

  &__rating {
    margin-bottom: 8px;
  }

  &__link {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: var(--color-dark-blue-text);
    min-height: 80px;
    display: block;

    &:hover {
      color: var(--color-logo);
      transition: color 0.3s;
    }
  }
}

@media screen and (max-width: 1400px) {
  .product-recommendations {
    &__link {
      min-height: 145px;
    }
  }
}

@media screen and (max-width: 1080px) {
  .product-recommendations {
    &__link {
      min-height: 80px;
    }
  }
}
