.reviews {
  &__item {
    border-top: 1px solid var(--color-grey-border);
    padding: 24px 0 22px 0;
    display: none;

    &--block {
      display: block;
    }

    &:first-of-type {
      border-top: none;
      padding-top: 0;
    }
  }

  &__flex {
    display: flex;
    width: 100%;
  }

  &__name {
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    color: var(--color-grey-text);
  }

  &__date {
    font-size: 12px;
    line-height: 140%;
    color: var(--color-grey-text);
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-dark-blue-text);
    margin-bottom: 8px;
  }

  &__text-review {
    font-size: 14px;
    line-height: 140%;
    color: var(--color-dark-blue-text);
  }

  &__info {
    width: auto;
    margin-right: 52px;
  }

  &__rating {
    margin-bottom: 8px;
  }

  &__pictures {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -8px;
    margin-right: -8px;
  }

  &__picture-item {
    margin-right: 7px;
    margin-bottom: 7px;

    img {
      border: 1px solid transparent;
    }

    &:hover {
      img {
        border: 1px solid var(--color-orange);
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8px;
  }

  &__button {
    display: flex;
    align-items: center;
  }

  &__button-count {
    margin-left: 4px;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-grey-text);
  }

  &__img-box {
    position: relative;
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid var(--color-grey-border);
    overflow: hidden;
  }

  &__short-name {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-orange);
    font-size: 28px;
    font-weight: 700;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1200px) {
  .reviews {
    &__button {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 430px) {
  .reviews {
    &__flex {
      flex-direction: column;
    }

    &__info {
      margin-bottom: 15px;
    }

    &__title {
      font-size: 16px;
    }

    &__text-review {
      font-size: 11px;
    }
  }
}
