.button-close {
  --toggle-close-size: 31px;
  width: var(--toggle-close-size);
  height: var(--toggle-close-size);
  border: none;
  background: var(--color-white);
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    right: 50%;
    top: 50%;
    background: var(--color-grey-text);
  }

  &::before {
    transform: translate(50%) rotate(45deg);
  }

  &::after {
    transform: translate(50%) rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      background: var(--color-dark-blue-text);
      transition: background 0.3s;
    }
  }
}
