.search-container {
  &__top {
    display: flex;
  }

  &__left {
    width: 27%;
    padding-right: 80px;
  }

  &__right {
    width: 73%;
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 30px;
  }
}
