/*Form search*/
.search {
  &__popup {
    display: none;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1880px;
    min-height: 256px;
    background: var(--color-white);
    position: fixed;
    top: 112px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3000;
    overflow-y: hidden;
  }

  &__form {
    background: var(--color-white);
    width: 75%;
    height: 80px;
    border-bottom: 1px solid var(--color-grey-border);
    margin-top: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 17px 0;
  }

  &__field {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__input {
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #7b94b0;
    opacity: 0.5;
    outline: none;
    cursor: pointer;
    width: 100%;
    border: none;
    height: 100%;
  }

  &__form:hover,
  &__form:focus,
  &__form:active {
    border-bottom: 1px solid var(--color-dark-blue-text);
  }

  &__text {
    margin-top: 40px;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey-text);
    width: 24%;
    text-align: center;
  }

  &.active &__popup {
    display: flex;
  }

  &.active .modal-background {
    display: block;
  }

  &__box-results {
    max-width: 75%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 1300px) {
  .search {
    &__popup {
      top: 73px;
    }
  }
}

@media screen and (max-width: 768px) {
  .search {
    &__form {
      margin-top: 10px;
    }

    &__input {
      font-size: 36px;
    }

    &__text {
      width: 50%;
    }
  }
}

@media screen and (max-width: 414px) {
  .search {
    &__form {
      padding: 8px 0;
      height: 60px;
    }

    &__input {
      font-size: 25px;
    }

    &__text {
      width: 70%;
      font-size: 12px;
    }
  }
}
