.search-results {
  display: flex;
  margin-right: -36px;

  &__column {
    width: 33.33%;
    margin-right: 32px;
  }

  &__title {
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--color-dark-blue-text);
    margin-bottom: 12px;
  }

  &__list {
    margin-bottom: -24px;
  }

  &__item {
    display: flex;
    padding-bottom: 21px;
  }

  &__text {
    font-size: 13px;
    line-height: 15px;
    color: var(--color-dark-blue-text);

    &:hover {
      color: var(--color-logo);
    }
  }

  &__box {
    margin-left: 8px;
  }

  &__price {
    display: flex;
    margin-top: 5px;
  }

  &__old-price {
    font-size: 13px;
    line-height: 140%;
    text-decoration-line: line-through;
    color: #7b94b0;
    opacity: 0.5;
    margin-right: 4px;
  }

  &__new-price {
    font-weight: bold;
    font-size: 13px;
    line-height: 140%;
    color: var(--color-dark-blue-text);
  }

  &__link {
    margin-top: 16px;
  }

  &__image {
    img {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }
    &:hover {
      img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }
}
