.search-button {
  $root: &;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;

  &:hover {
    #{$root}__icon {
      stroke: var(--color-grey-text);
      transition: stroke 0.3s;
    }

    #{$root}__text {
      color: var(--color-grey-text);
      transition: color 0.3s;
    }
  }

  &__icon {
    margin-right: 12px;
    stroke: var(--color-dark-blue-text);
    stroke-width: 2;
  }

  &__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-dark-blue-text);
  }
}

@media screen and (max-width: 1300px) {
  .search-button {
    &__text {
      display: none;
    }
  }
}
