.search-menu {
  border-bottom: 1px solid var(--color-grey-border);

  &__menu-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 13px 10px;
    border-top: 1px solid var(--color-grey-border);
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: var(--color-dark-blue);

    &:hover,
    &:active {
      background-color: rgba(58, 158, 253, 0.05);
      transition: background-color 0.3s;
    }
  }

  &__subitem {
    padding: 9px 10px 11px 20px;
    border-top: 1px solid var(--color-grey-border);

    &:hover {
      background-color: rgba(58, 158, 253, 0.05);
      transition: background-color 0.3s;
    }
  }

  &__sublink {
    width: 100%;
    font-size: 13px;
    line-height: 15px;
    color: var(--color-dark-blue);
  }
}
