* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
p,
figure {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  padding: 0;
}

.nav_is_visible {
  overflow-y: hidden;
  overflow-x: hidden;
}

body.nav_is_visible {
  transform: translateX(60%);
  transition: transform 0.3s ease-in-out;
}

body.nav_is_visible .mm-menu {
  transform: translateX(-100%);
}

body.nav_is_visible .nav-toggle {
  position: absolute;
  top: 10px;
  left: -60px;
  z-index: 3000;
}

body.nav_is_visible .ham1 .top {
  stroke-dashoffset: -98px;
}

body.nav_is_visible .line {
  stroke: var(--color-white);
  transition: all 0.3s;
}

body.nav_is_visible .ham1 .bottom {
  stroke-dashoffset: -138px;
}

body.nav_is_visible .modal-background {
  display: block;
}

body.nav_is_visible .hamRotate {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
body.nav_is_visible .hamRotate180 {
  transform: rotate(180deg);
}

@media screen and (max-width: 414px) {
  body.nav_is_visible {
    transform: translateX(80%);
  }
}
