* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
p,
figure {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  padding: 0;
}
