/*Button*/
.button {
  --btn-size: 32px;
  border-radius: 50%;
  width: var(--btn-size);
  height: var(--btn-size);
  background: grey;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid black;

  &--transparent {
    background: transparent;
    border: none;
    box-shadow: 0px 2px 4px rgba(84, 143, 199, 0.15);
  }

  &--transparent-shadow {
    background: transparent;
    border: none;
    box-shadow: 0px 4px 12px rgba(84, 143, 199, 0.15);
  }

  &--transparent-hover {
    &:hover {
      border: 1px solid rgb(224, 224, 224, 0.3);
      background: rgb(224, 224, 224, 0.3);
      transition: all 0.3s;
    }
  }

  &--share {
    background: #b6b7c4;
    border: 1px solid #b6b7c4;

    &:hover,
    &:focus,
    &:active {
      background: var(--color-orange);
      border: 1px solid var(--color-orange);
    }
  }

  &--dashed-orange {
    color: var(--color-orange);
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    border: none;
    background: transparent;
    padding: 0 0 3px 0;
    border-bottom: 1px dashed var(--color-orange);
    border-radius: 0;
    --btn-size: auto;

    &:hover,
    &:active {
      color: var(--color-green);
      transition: all 0.3s;
      border-bottom: 1px dashed var(--color-green);
    }
  }

  &--inline {
    display: inline-flex;
  }

  &--ok {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(84, 143, 199, 0.15);
    width: 28px;
    height: 28px;
    border: none;

    & {
      .button__icon {
        color: var(--color-grey-text);
      }
    }

    &:hover {
      .button__icon {
        color: var(--color-logo);
        transition: color 0.3s;
      }
    }
  }

  &--filter {
    width: 100%;
    height: 48px;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(32, 36, 84, 0.15);
    border-radius: 12px;
    color: var(--color-dark-blue-text);
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

    &:hover,
    &:focus,
    &:active {
      background: var(--color-orange);
      color: white;
      transition: all 0.3s;
      svg {
        fill: var(--color-white-text);
        color: var(--color-white-text);
      }
    }

    svg {
      fill: var(--color-dark-blue-text);
      color: var(--color-dark-blue-text);
      margin-right: 8px;
    }
  }

  &__icon-next {
    transform: rotate(-90deg);
  }

  &__icon-prev {
    transform: rotate(90deg);
  }

  &--filled-grey {
    border: 1px solid var(--color-grey-border);
    background: var(--color-grey-border);

    svg {
      stroke-width: 2px;
      stroke: #ffffff;
    }

    &:hover {
      border: 1px solid var(--color-orange);
      background: var(--color-orange);
      opacity: 0.9;
    }

    &:focus,
    &:active {
      border: 1px solid var(--color-orange);
      background: var(--color-orange);
    }

    &.active {
      border: 1px solid var(--color-orange);
      background: var(--color-orange);
    }
  }

  &--border-orange {
    background: transparent;
    border: 1px solid var(--color-orange);
    color: var(--color-orange);

    &:hover,
    &:focus {
      border: 1px solid var(--color-logo);
      color: var(--color-logo);
      transition: all 0.3s;
    }
  }

  &--filled-black {
    border: 3px solid #ffffff;
    background: rgba(0, 0, 0, 0.4);

    &:hover,
    &:focus,
    &:active {
      transition: background 0.3s;
      background: rgba(0, 0, 0, 0.6);
    }
  }

  &--filled-white {
    border: none;
    background: rgb(255, 255, 255, 0.2);

    &:hover,
    &:focus,
    &:active {
      border: none;
      background: rgb(255, 255, 255, 0.5);
    }
  }

  &--filled-orange {
    border: none;
    background: var(--color-orange);
    color: var(--color-white-text);

    &:hover {
      background: var(--color-logo);
      transition: background 0.3s;
    }
  }

  &--square {
    border-radius: 5px 5px;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &--size-smallest {
    --btn-size: 12px;
  }

  &--size-small {
    --btn-size: 32px;
  }

  &--size-small-l {
    --btn-size: 40px;
  }

  &--size-medium {
    --btn-size: 48px;
  }

  &--size-medium-big {
    --btn-size: 60px;
  }

  &--size-large {
    --btn-size: 80px;
  }

  &--size-rectangle {
    width: 100%;
    height: 48px;
    border-radius: 3px;
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
  }

  &--size-rectangle-small {
    width: 167px;
    height: 32px;

    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    border-radius: 3px;
  }
}

@media screen and (max-width: 960px) {
  .button {
    &--dark {
      background: rgb(9 0 0 / 40%);

      &:hover,
      &:focus,
      &:active {
        background: rgb(9 0 0 / 60%);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .button {
    &--size-large {
      --btn-size: 62px;
    }
  }
}

@media screen and (max-width: 414px) {
  .button {
    &--size-medium {
      --btn-size: 38px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &--mb-size {
      --btn-size: 48px;
    }
  }
}
