.container {
  width: 100%;
  max-width: var(--width-container);
  margin: 0 auto;
  padding: 0px 20px;

  &--biggest {
    max-width: var(--footer-content);
    margin: 0 auto;
    padding: 56px 20px 38px 20px;
  }

  &--big {
    max-width: var(--header-box);
    padding: 12px 20px 11px 20px;
  }

  &--none-padding {
    padding: 0;
  }

  &--padding {
    padding: 0 230px;
  }

  &--medium {
    max-width: 1210px;
  }

  &--small {
    max-width: 960px;
  }
}

@media screen and (max-width: 1366px) {
  .container {
    &--padding {
      padding: 0 20px;
    }
  }
}
