.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  width: 100%;

  &__header {
    width: 100%;
  }

  &__main {
    width: 100%;

    overflow: hidden;
  }

  &__footer {
    width: 100%;
    overflow-x: hidden;
  }
}
