.link {
  background: var(--link-bg);
  border: 1px solid var(--link-border-color);
  display: inline-flex;
  border-radius: 3px;
  align-items: center;
  justify-content: center;

  &--transparent {
    --link-border-color: var(--color-orange);
    --link-bg: transparent;
    color: var(--color-orange);

    &:hover {
      background: var(--color-orange);
      color: var(--color-white);
      transition: background 0.3s;
    }
  }
  &--transparent-green {
    --link-border-color: var(--color-logo);
    --link-bg: transparent;

    &:hover {
      --link-bg: var(--color-logo);
      transition: all 0.3s;

      .login__social-icon {
        color: white;
        transition: color 0.3s;
      }
    }
  }

  &--filled {
    --link-border-color: var(--color-orange);
    background: var(--color-orange);
    color: var(--color-white);

    &:hover {
      border: 1px solid var(--color-dark-green);
      background: var(--color-dark-green);
      transition: background 0.3s;
    }
  }

  &--size-small {
    height: 32px;
    width: 129px;
    padding: 9px 17px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
  }

  &--size-small-l {
    width: 160px;
    height: 32px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
  }

  &--size-medium {
    min-width: 202px;
    height: 48px;
    padding: 15px 32px 14px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
  }

  &--size-medium-l {
    min-width: 49%;
    height: 47px;
    text-transform: uppercase;
  }

  &--size-medium-s {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    min-width: 234px;
    height: 47px;
    text-transform: uppercase;
  }

  &--arrow-white {
    color: var(--color-white);
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    padding: 8px;
    margin-left: -8px;
    margin-top: -8px;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba(139, 139, 139, 0.2);
      transition: background-color 0.3s;
    }
  }

  &--dashed {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-dark-blue-text);
    border: none;
    border-bottom: 1px dashed #7b94b0;
    padding: 4px 0;
    background: none;

    &:hover {
      color: var(--color-logo);
      transition: all 0.3s;
      border-bottom: 1px dashed var(--color-logo);
    }
  }

  &--dached-orange {
    color: var(--color-orange);
    padding: 2px 0;
    border-bottom: 1px dashed #3a9efd;

    &:hover {
      color: #3a9efd;
      transition: all 0.3s;
    }
  }

  &--arrow {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-logo);
    border: none;
    background: transparent;
    display: flex;
    align-items: center;

    &:hover {
      color: var(--color-orange);
      transition: color 0.3s;
    }

    &:hover .arrow--next-green::before {
      border-bottom: 2px solid var(--color-orange);
      border-right: 2px solid var(--color-orange);
      transition: all 0.3s;
    }
  }
}
