/*Stars*/
.rating {
  display: flex;

  &__star {
    $root: &;
    --size-star: 14px;
    display: flex;
    position: relative;
    width: var(--size-star);
    height: var(--size-star);
    background: transparent;
    border: none;

    &::before {
      width: var(--size-star);
      height: var(--size-star);
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translateX(-50%) translateY(10%);
      content: "★";
      color: var(--color-grey-border);
    }

    &--checked::before {
      color: #e77e42;
    }

    &--size {
      --size-star: 24px;
      &::before {
        font-size: 30px;
      }
    }
  }

  &__number {
    font-size: 12px;
    line-height: 14px;
    color: var(--link-bg);
    margin-left: 3px;

    &--dark {
      color: var(--color-dark-blue-text);
    }
  }
}
