:root {
  --color-white: #ffffff;
  --color-dark-green: #245420;
  --color-green: #026c00;
  --color-opacity-green: rgb(2, 108, 0, 0.3);
  --color-light-green: #10e17d;
  --color-logo: #2c9323;
  --color-dark-blue-text: #202454;
  --color-grey-text: #7b94b0;
  --color-grey-border: #e0e0e0;
  --color-white-text: #ffffff;
  --color-orange: #e77e42;
  --link-bg: #b6b7c4;
  --link-border-color: black;
  --width-container: 1460px;
  --header-box: 1880px;
  --footer-content: 1460px;
}
