.catalog-list {
  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -112px;
    margin-right: -30px;
  }

  &__column {
    width: 25%;
    margin-bottom: 112px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .catalog-list {
    &__container {
      margin-bottom: -40px;
    }

    &__column {
      margin-bottom: 40px;
      width: 33.3%;
    }
  }
}

@media screen and (max-width: 768px) {
  .catalog-list {
    &__column {
      width: 50%;
    }
  }
}
